beautifulsoup4==4.11.1
cmake==3.26.3
langchain==0.0.208
numpy==1.23.1
openai==0.27.2
pandas==1.0.3
pinecone_client==2.2.1
playwright==1.30.0
python-dotenv==1.0.0
Requests==2.31.0
setuptools==45.2.0
sentence_transformers==2.2.2
streamlit==1.23.1
streamlit_lottie==0.0.5
streamlit_option_menu==0.3.4
torch==2.0.0
unstructured==0.6.8
